/*
Made By: Conner Cullity
Date: 
Description: 
*/
/* 
    Created on : Dec 6, 2018, 2:17:29 PM
    Author     : Conner
*/

.townBG {
    -fx-background-image: url(../town.png);
    -fx-background-size: cover;
}
.background {
    -fx-background-color: #000000;
}